{% load static %}
	<footer class="ftco-footer ftco-footer-2 ftco-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-footer-logo">INCREDIBLE<span>TECHNOLOGY</span></h2>
						<p>
							We provide a holistic IT solution to the world that caters to various levels of 
							involvement from users centric environment.
						</p>
						<ul class="ftco-footer-social list-unstyled mt-2">
							<li class="ftco-animate"><a href="https://twitter.com/IncredibleTech5"><span class="fa fa-twitter"></span></a></li>
							<li class="ftco-animate"><a href="https://www.facebook.com/Incredible-Technology-110842477778753"><span class="fa fa-facebook"></span></a></li>
							<li class="ftco-animate"><a href="https://www.instagram.com/incredibletech5/"><span class="fa fa-instagram"></span></a></li>
							<li class="ftco-animate"><a href="https://www.linkedin.com/company/incredible-tech"><span class="fa fa-linkedin"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Explore</h2>
						<ul class="list-unstyled">
							<li><a href="{% url 'about-us' %}" class="py-2 d-block">About</a></li>
							<li><a href="{% url 'contact-us' %}" class="py-2 d-block">Contact</a></li>
							<li><a href="{% url 'services' %}" class="py-2 d-block">What We Do</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon fa fa-map marker"></span><span class="text">Surat, Gujarat, India.</span></li>
								<li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+91 8758697489 <br/>+91 7801915902 <br/>+91 9667654315</span></a></li>
								<li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">info.incredibletechnology@gmail.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
						All rights reserved | Made with <i style="color: red;" class="fa fa-heart" aria-hidden="true"></i> by
						<a href="https://incredible-technology.herokuapp.com/" target="_blank">Incredible Technology</a>
					</p>	
				</div>
			</div>
		</div>
	</footer>
