{% extends 'base/base.html' %}
{% load static %}
{% block pagetitle %}User List{% endblock pagetitle %}

{% block custom_css %}
{% endblock custom_css %}


{% block mainContent %}

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                {% if result == 'yes' %}
                                <h3 class="title-5 m-b-15">user data {{is_time}}</h3>
                                <p class="m-b-35">Filter By : {% if slug %} {{slug}} |{% endif%} 
                                    {% if is_time == 'True' %} 
                                        {{time_name}} [ {{time_threshold}} - {{current}}] 
                                    {% endif %}
                                    &nbsp;<a href="{% url 'get-users' %}" style="background-color: rgba(255, 255, 255, 0.938);padding: 1px 7px; border-radius: 6%;color: red;"><i class="zmdi zmdi-close"></i> Clear filter</a>
                                </p>
                                {% else %}
                                <h3 class="title-5 m-b-35">user data</h3>
                                {% endif %}
                                
                                {% if messages %}
                                {% for m in messages %}
                                    {% if m.tags == 'success' %}
                                    <div style="display: block;" class="alert alert-success alert-dismissible fade show" role="alert" id="remove_alert">
                                    <strong>Great!</strong> {{m}}
                                    <button type="button" class="btn-close" onclick="remove_alert()" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% else %}
                                    <div style="display: block;" class="alert alert-danger alert-dismissible fade show" role="alert" id="remove_alert">
                                    <strong>Upps!</strong> {{m}}
                                    <button type="button" class="btn-close" onclick="remove_alert()" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}

                                <div class="table-data__tool">
                                    <!-- <div class="card-body card-block"> -->
                                        <form action="{% url 'filter-users' %}" method="get">
                                            <div class="row form-group">
                                                <div class="col col-md-6">
                                                    <div class="input-group">
                                                        <input type="text" id="input1-group2" name="filter" placeholder="Filter data" class="form-control">
                                                        <div class="input-group-btn">
                                                            <button class="btn btn-secondary">
                                                                <i class="fa fa-search"></i> Filter
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="rs-select2--light rs-select2--sm">
                                                    <select class="js-select2" name="time">
                                                        <option selected="selected" value="">Choose</option>
                                                        <option value="today">Today</option>
                                                        <!-- <option value="">Last 3 Days</option> -->
                                                        <option value="1week">1 Week</option>
                                                        <option value="1month">1 Month</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div> &nbsp;&nbsp;
                                                <button class="au-btn-filter" type="submit"><i class="zmdi zmdi-filter-list"></i>filters</button>
                                            </div>
                                        </form>
                                    <!-- </div> -->
                                </div>
                                
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Unique ID</th>
                                                <th>Device ID</th>
                                                <th>Pro User</th>
                                                <th>Plan Type</th>
                                                <th>User Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Other</th>
                                                <th>Remark</th>
                                                <th>Created At</th>
                                                <th>Updated At</th>
                                                <th>Deleted At</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            {% if userlist %}
                                                {% for users in userlist %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td >{{users.unique_id}}</td>
                                                    <td class="col-lg-2">{{users.device_id}}</td>

                                                    {% if users.is_pro %}
                                                        <td><label class="badge badge-success">YES</label></td>
                                                    {% else %}
                                                        <td><label class="badge badge-danger">NO</label></td>
                                                    {% endif %}

                                                    <!-- {% if users.operation_tag == 'success' %}
                                                    <td><span class="badge rounded-pill bg-success pb-1" style="color: cornsilk; padding: 5px">{{users.operation_tag}}</span></td>
                                                    {% elif users.operation_tag == 'info' %}
                                                    <td><span class="badge rounded-pill bg-info text-dark" style="color: cornsilk; padding: 5px">{{users.operation_tag}}</span></td>
                                                    {% else %}
                                                    <td><span class="badge rounded-pill bg-danger pb-1" style="color: cornsilk; padding: 5px">{{users.operation_tag}}</span></td>
                                                    {% endif %} -->

                                                    <td>{{users.plan_type}}</td>
                                                    <td>{{users.username}}</td>
                                                    <td>{{users.email}}</td>
                                                    <td>{{users.phone}}</td>
                                                    <td>{{users.other}}</td>
                                                    <td>{{users.remark}}</td>
                                                    <td>{{users.created_at|date:'d-m-Y g:i A'}}</td>
                                                    <td>{{users.updated_at|date:'d-m-Y g:i A'}}</td>
                                                    <td>{{users.deleted_at|date:'d-m-Y g:i A'}}</td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                            <tr><td colspan="14" style="text-align: center; font-size: 15px;">No Data Found</td></tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->

                                {% if userlist.has_other_pages %}
                                <hr style="padding-bottom: 4px; background-color: brown;" />
                                <div class="page" style="margin-right: 20px;">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end">
                                            {% if not userlist.has_previous %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ userlist.previous_page_number }}" tabindex="-1">Previous</a>
                                            </li>
                                            {% endif %}
                                            {% for i in userlist.paginator.page_range %}
                                            {% if userlist.number == i %}
                                            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                            {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            {% if userlist.has_next %}
                                            <li class="page-item">
                                            <a class="page-link" href="?page={{ userlist.next_page_number }}">Next</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="+1">Next</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        {% include 'base/footer.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock mainContent %}
