{% extends 'adminbase/base.html' %}
{% load static %}
{% block pagetitle %}Client List{% endblock pagetitle %}

{% block custom_css %}
{% endblock custom_css %}


{% block mainContent %}

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <h3 class="title-5 m-b-20">client data</h3>
                                
                                {% if messages %}
                                {% for m in messages %}
                                    {% if m.tags == 'success' %}
                                    <div style="display: block;" class="alert alert-success alert-dismissible fade show" role="alert" id="remove_alert">
                                    <strong>Great!</strong> {{m}}
                                    <button type="button" class="btn-close" onclick="remove_alert()" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% else %}
                                    <div style="display: block;" class="alert alert-danger alert-dismissible fade show" role="alert" id="remove_alert">
                                    <strong>Upps!</strong> {{m}}
                                    <button type="button" class="btn-close" onclick="remove_alert()" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}

                                <div class="row form-group" style="margin-left:1px;">
                                    <a href="{% url 'add-client' %}"><button class="au-btn-filter" type="submit"><i class="fa fa-plus"></i>ADD</button></a>
                                </div>
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Company</th>
                                                <th>Address</th>
                                                <!-- <th>Image</th> -->
                                                <th>Image</th>
                                                <th>Remark</th>
                                                <th class="col-md-3">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody> 
                                            {% if clientlist %}
                                                {% for client in clientlist %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{client.name}}</td>
                                                    <td>{{client.email}}</td>
                                                    <td>{{client.phone}}</td>
                                                    <td>{{client.company}}</td>
                                                    <td>{{client.address}}</td>
                                                    {% if client.image %}
                                                    <td><img src="{{client.image.url}}" alt="Photo"></td>
                                                    {% else %}
                                                    <td>No Photo</td>
                                                    {% endif %}
                                                    <td>{{client.remark}}</td>
                                                    <td class="col-md-3"><a href="{% url 'update-client' %}?id={{client.id}}"><button class="btn btn-sm btn-warning"><i class="fa fa-pencil-square-o"></i></button></a>
                                                    <a href="{% url 'delete-client' %}?id={{client.id}}"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></a></td>
                                                </tr>
                                                {% endfor %}
                                            {% else %}
                                            <tr><td colspan="9" style="text-align: center; font-size: 15px;">No Data Found</td></tr>
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->

                                {% if clientlist.has_other_pages %}
                                <hr style="padding-bottom: 4px; background-color: brown;" />
                                <div class="page" style="margin-right: 20px;">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end">
                                            {% if not clientlist.has_previous %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ clientlist.previous_page_number }}" tabindex="-1">Previous</a>
                                            </li>
                                            {% endif %}
                                            {% for i in clientlist.paginator.page_range %}
                                            {% if clientlist.number == i %}
                                            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                                            {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            {% if clientlist.has_next %}
                                            <li class="page-item">
                                            <a class="page-link" href="?page={{ clientlist.next_page_number }}">Next</a>
                                            </li>
                                            {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="+1">Next</a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        {% include 'adminbase/footer.html' %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock mainContent %}
