{% load static %} 

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fevicon -->
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/admin/favicon1.png' %}"/>

    <!-- Title Page-->
    <title>{% block pagetitle %}{% endblock pagetitle %}</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'admin/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'admin/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">

    <!-- Vendor CSS-->
    <link href="{% static 'admin/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'admin/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'admin/css/theme.css' %}" rel="stylesheet" media="all">

    {% block custom_css %}
    {% endblock custom_css %}

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="{% url 'adminindex' %}">
                            <img src="{% static 'images/admin/IT2.png' %}" width="15%" alt="Logo">
                            <!-- <h3>INCREDIBLE <br/>TECHNOLOGY</h3> -->
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="{% url 'adminindex' %}">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li class="{% if nbar == 'getuser' %}active{% endif %}">
                            <a href="{% url 'get-user' %}">
                                <i class="fas fa-users"></i>Server Users</a>
                        </li>
                        <li class="{% if nbar == 'appdetails' %}active{% endif %}">
                            <a href="{% url 'get-app' %}">
                                <i class="zmdi zmdi-label"></i>Project Details</a>
                        </li>
                        <li class="{% if nbar == 'getclients' %}active{% endif %}">
                            <a href="{% url 'get-clients' %}">
                                <i class="fas fa-users"></i>Clients</a>
                        </li>
                        <li class="{% if nbar == 'adminlog' %}active{% endif %}">
                            <a href="#">
                                <i class="fas fa-chart-bar"></i>Admin Logs</a>
                        </li>
                        <li class="{% if nbar == 'aboutwebsite' %}active{% endif %}">
                            <a href="{% url 'about-website' %}">
                                <i class="fas fa-info"></i>About</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="fa fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="{% url 'adminindex' %}">
                    <img src="{% static 'images/admin/logo.png' %}" alt="LionHeartApps" width="200" height="10"/>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="{% if nbar == 'home' %}active{% endif %}">
                            <a class="js-arrow" href="{% url 'adminindex' %}">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li class="{% if nbar == 'getuser' %}active{% endif %}">
                            <a href="{% url 'get-user' %}">
                                <i class="fas fa-users"></i>Server Users</a>
                        </li>
                        <li class="{% if nbar == 'appdetails' %}active{% endif %}">
                            <a href="{% url 'get-app' %}">
                                <i class="zmdi zmdi-label"></i>Project Details</a>
                        </li>
                        <li class="{% if nbar == 'getclients' %}active{% endif %}">
                            <a href="{% url 'get-clients' %}">
                                <i class="fas fa-users"></i>Clients</a>
                        </li>
                        <li class="{% if nbar == 'adminlog' %}active{% endif %}">
                            <a href="#">
                                <i class="fas fa-chart-bar"></i>Admin Logs</a>
                        </li>
                        <li class="{% if nbar == 'aboutwebsite' %}active{% endif %}">
                            <a href="{% url 'about-website' %}">
                                <i class="fas fa-info"></i>About</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="fa fa-sign-out"></i>Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                {% csrf_token %}
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Type to search here..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button> &nbsp;
                                
                            </form>
                            <div class="header-button">
                                <style>
                                    
                                </style>
                                <div style="margin-right: 20px;"><a href="{% url 'index' %}"><button class="au-btn au-btn-sm au-btn--blue">Goto Website</button></a></div> &nbsp;
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            {% if is_photo %}
                                            <img class="rounded-circle mx-auto d-block" src="{{user.image.url}}" alt="Profile Photo">
                                            {% else %}
                                            <img class="rounded-circle mx-auto d-block" src="{% static 'images/admin/default.png' %}" alt="Card image cap" width="128" height="128">
                                            {% endif %}
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{% if user.first_name == '' and user.last_name == '' %}{{user.username}}{% else %}{{user.first_name}} {{user.last_name}}{% endif %}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        {% if is_photo %}
                                                        <img class="rounded-circle mx-auto d-block" src="{{user.image.url}}" alt="Profile Photo">
                                                        {% else %}
                                                        <img class="rounded-circle mx-auto d-block" src="{% static 'images/admin/default.png' %}" alt="Card image cap" width="128" height="128">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">{% if user.first_name == '' and user.last_name == '' %}{{user.username}}{% else %}{{user.first_name}} {{user.last_name}}{% endif %}</a>
                                                    </h5>
                                                    <span class="email">{{user.email}}</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="{% url 'view-profile' %}">
                                                        <i class="zmdi zmdi-account"></i>Profile</a>
                                                </div>
                                                {% if user.is_staff %}
                                                <div class="account-dropdown__item">
                                                    <a href="{% url 'admin-panel' %}" target="_blank">
                                                        <i class="zmdi zmdi-settings"></i>Admin Panel</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="{% url 'settings' %}">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="{% url 'logout' %}">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            {% block mainContent %}
            {% endblock mainContent %}
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static 'admin/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'admin/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'admin/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'admin/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'admin/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'admin/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'admin/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'admin/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'admin/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'admin/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'admin/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'admin/vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'admin/js/main.js' %}"></script>

    {% block custom_js %}
    {% endblock custom_js %}

</body>

</html>
<!-- end document-->
