{% extends 'adminbase/base.html' %}
{% load static %}
{% block pagetitle %}Add Application{% endblock pagetitle %}

{% block custom_css %}
{% endblock custom_css %}


{% block mainContent %}

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">

                    <div class="container">
                        <div class="card">
                            <div class="card-header"><a href="{% url 'adminindex' %}">Dashboard</a> / <a href="{% url 'get-app' %}">App List</a> / <span class="active">Add App</span></div>
                        </div>
                        <div class="card">
                            <div class="card-header" style="font-weight: 600; color: brown;">Add Application</div>
                            <div class="card-body card-block">

                                {% if messages %}
                                {% for m in messages %}
                                    {% if m.tags == 'success' %}
                                    <div style="display: block;" class="alert alert-success alert-dismissible fade show" role="alert" id="remove_alert">
                                    <strong>Great!</strong> {{m}}
                                    <button type="button" class="btn-close" onclick="remove_alert()" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% else %}
                                    <div style="display: block;" class="alert alert-danger alert-dismissible fade show" role="alert" id="remove_alert">
                                    <strong>Upps!</strong> {{m}}
                                    <button type="button" class="btn-close" onclick="remove_alert()" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}

                                <form method="post" class="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-4 mb-3">
                                            <label for="app_id" class="form-label">App ID</label>
                                            <input type="text" class="form-control" name="app_id" id="app_id" value="{{app_id}}" required>
                                            <!-- <input type="hidden" name="app_id" class="form-control" id="app_id" value="{{var.app_id}}"> -->
                                        </div>
                                        <div class="col-lg-4 mb-3">
                                            <label for="api_key" class="form-label">App API key</label>
                                            <input type="text" class="form-control" name="api_key" id="api_key" value="{{api_key}}" required>
                                            <!-- <input type="hidden" name="api_key" class="form-control" id="api_key" value="{{var.api_key}}"> -->
                                        </div>
                                        <div class="col-lg-4 mb-3">
                                            <label for="backup_api_key" class="form-label">Backup API key</label>
                                            <input type="text" class="form-control" name="backup_api_key" id="backup_api_key" value="{{api_key}}" required>
                                            <!-- <input type="hidden" name="api_key" class="form-control" id="api_key" value="{{var.api_key}}"> -->
                                        </div>
                                    </div>
                        
                                    <div class="row" style="margin-top: 10px;">                            
                                        <div class="col-md-4 mb-3">
                                            <label for="app_name" class="form-label">App Name</label>
                                            <input type="text" class="form-control" name="app_name" id="app_name" placeholder="Enter App Name" value="" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="deal_by" class="form-label">Deal By</label>
                                            <input class="form-control" list="datalistOptions1" id="deal_by" placeholder="Type to search..." name="deal_by" required>
                                            <datalist id="datalistOptions1">
                                                {% for i in userlist %}
                                                <option value="{{i.username}}">{{i.username}}</option>
                                                {% endfor %}
                                            </datalist>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="client" class="form-label">Client</label>
                                            <input class="form-control" list="datalistOptions2" id="client" placeholder="Type to search..." name="client" required>
                                            <datalist id="datalistOptions2">
                                                {% for i in clientlist %}
                                                <option value="{{i.email}}">{{i.name}} | {{i.email}}</option>
                                                {% endfor %}
                                            </datalist>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-6 mb-3">
                                            <label for="frontend" class="form-label">Frontend Languages</label>
                                            <textarea type="text" row=2 class="form-control" name="frontend" id="frontend" placeholder="Type here..." value=""></textarea>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <label for="backend" class="form-label">Backend Languages</label>
                                            <textarea type="text" row=2 class="form-control" name="backend" id="backend" placeholder="Type here..." value=""></textarea>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 10px;">                            
                                        <div class="col-md-4 mb-3">
                                            <label for="status" class="form-label">Development Status</label>
                                            <select class="form-control" aria-label="Default select example" name="status" required>
                                                <option selected value="">Choose status</option>
                                                <option value="Taken">Taken</option>
                                                <option value="Ongoing">Ongoing</option>
                                                <option value="Completed">Completed</option>
                                            </select>
                                        </div>
                                        <div class="col-md-8 mb-3">
                                            <label for="host_link" class="form-label">Host Link</label>
                                            <input type="text" class="form-control" name="host_link" id="host_link" placeholder="Enter link here" value="">
                                        </div>
                                    </div>
                        
                                    <div class="row col-lg-4" style="margin-top: 10px;">
                                        <!-- <label for="basic-url" class="form-label"></label> -->
                                        <div class="input-group mb-3">
                                            <div class="input-group" style="margin-top: 7px;">
                                                <div class="input-group-addon">
                                                    <input class="form-check" type="checkbox" value=True name="is_active">
                                                </div>
                                                <input type="text" class="form-control" aria-label="Text input with checkbox" value="Is application live ?" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions form-group">
                                        <button type="submit" class="btn btn-secondary btn-sm">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'adminbase/footer.html' %}
            </div>
        </div>
    </div>

{% endblock mainContent %}

{% block custom_js %}

<script>
  function changepass(obj) {
      if($(obj).is(":checked")){
          document.getElementById('myDIV').style.display = "block"; //Do stuff
          //alert("Yes checked"); //when checked

          $("#page-header-inner").addClass("sticky");
      }else{
          document.getElementById('myDIV').style.display = "none"; //Do stuff
          //alert("Not checked"); //when not checked
      }   
  }
</script>

{% endblock custom_js %}