{% extends 'base/base.html' %}
{% load static %}
{% block pagetitle %}Add App{% endblock pagetitle %}

{% block custom_css %}
{% endblock custom_css %}


{% block mainContent %}

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">

                    <div class="container">
                        <div class="card">
                            <div class="card-header" style="font-weight: 600; color: brown;">Add Application</div>
                            <div class="card-body card-block">

                                {% if messages %}
                                {% for m in messages %}
                                    {% if m.tags == 'success' %}
                                    <div style="display: block;" class="alert alert-success alert-dismissible fade show" role="alert" id="remove_alert">
                                    <strong>Great!</strong> {{m}}
                                    <button type="button" class="btn-close" onclick="remove_alert()" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% else %}
                                    <div style="display: block;" class="alert alert-danger alert-dismissible fade show" role="alert" id="remove_alert">
                                    <strong>Upps!</strong> {{m}}
                                    <button type="button" class="btn-close" onclick="remove_alert()" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}

                                <form method="post" class="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row col-lg-3">
                                        <label for="api_key" class="form-label">App API key</label>
                                        <input type="text" class="form-control" name="api_key" id="api_key" value="{{api_key}}" required>
                                        <!-- <input type="hidden" name="api_key" class="form-control" id="api_key" value="{{var.api_key}}"> -->
                                    </div>
                        
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-6 mb-3">
                                            <label for="app_id" class="form-label">App ID</label>
                                            <input type="text" class="form-control" name="app_id" id="app_id" value="{{app_id}}" required>
                                            <!-- <input type="hidden" name="app_id" class="form-control" id="app_id" value="{{var.app_id}}"> -->
                                        </div>
                            
                                        <div class="col-md-6 mb-3">
                                            <label for="app_name" class="form-label">App Name</label>
                                            <input type="text" class="form-control" name="app_name" id="app_name" placeholder="Enter App Name" value="" required>
                                        </div>
                                    </div>
                        
                                    <div class="row col-lg-3">
                                        <!-- <label for="basic-url" class="form-label"></label> -->
                                        <div class="input-group mb-3">
                                            <div class="input-group" style="margin-top: 7px;">
                                                <div class="input-group-addon">
                                                    <input class="form-check" type="checkbox" value=True name="is_active">
                                                </div>
                                                <input type="text" class="form-control" aria-label="Text input with checkbox" value="Is application is active ?" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions form-group">
                                        <button type="submit" class="btn btn-secondary btn-sm">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'base/footer.html' %}
            </div>
        </div>
    </div>

{% endblock mainContent %}

{% block custom_js %}

<script>
  function changepass(obj) {
      if($(obj).is(":checked")){
          document.getElementById('myDIV').style.display = "block"; //Do stuff
          //alert("Yes checked"); //when checked

          $("#page-header-inner").addClass("sticky");
      }else{
          document.getElementById('myDIV').style.display = "none"; //Do stuff
          //alert("Not checked"); //when not checked
      }   
  }
</script>

{% endblock custom_js %}