{% load static %}	
	<!-- Services Start -->
	<div id="what-we-do"></div>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center pb-5">
				<div class="col-lg-6 heading-section text-center ftco-animate">
					<h2 class="mb-4">More than <span>3+</span> years we provide <span>IT Solution</span></h2>
					<p>
						Modern problems require modern solutions, building upon that we nurture young minds to 
						have an analytical and solution-oriented approach for the problems.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="services-2 text-center">
						<div class="icon">
							<span class="flaticon-web-programming"></span>
						</div>
						<div class="text">
							<h3>Development</h3>
							<p>We are providing solutions for all types of Full Stack IT solutions.<br/>( Web | Mobile | Software )</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<img src="{% static 'images/services.svg' %}" class="img-fluid" alt="">
				</div>
				<div class="col-md-4">
					<div class="services-2 text-center">
						<div class="icon">
							<span class="flaticon-secure"></span>
						</div>
						<div class="text">
							<h3>Content Writing</h3>
							<p>We have highly trained writers that can write SEO based article. <br/> (Every types of Article)</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<div class="services-2 text-center">
						<div class="icon">
							<span class="flaticon-bolt"></span>
						</div>
						<div class="text">
							<h3>Hosting</h3>
							<p>We are largely working on hosting with every kind of applications. Building, Connecting, Protecting, and Publishing is our 4 features.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-2 text-center">
						<div class="icon">
							<span class="flaticon-presentation"></span>
						</div>
						<div class="text">
							<h3>UI/UX Designing</h3>
							<p>We build a product that can be attractive, scalable, responsive, and very user friendly. </p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services-2 text-center">
						<div class="icon">
							<span class="flaticon-cyber"></span>
						</div>
						<div class="text">
							<h3>Video Editing</h3>
							<p>We have team to do animations and video editing, particulary using Sony VEGAS Pro and Filmora.</p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!-- All Services End -->